@import "../../config";

.submenu {
	position: absolute;
	z-index: 2;
	top: calc(100% - 1px);

	display: none;
	flex-direction: column;

	min-width: 11rem;
	padding: 1.25rem;

	list-style: none;

	transition-delay: 0.05s;

	border: 1px solid $g-border-color;
	background-color: $g-background-color;

	font-size: 0.8125rem;

	font-weight: 400;
	line-height: 0.8125rem;
	gap: 1rem;

	&__name {
		transition: all 0.33s ease-in-out;
		transition-delay: 0.05s;
	}

	&__item {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: space-between;

		cursor: pointer;
		gap: 1rem;

		&::after {
			position: absolute;
			bottom: -0.5rem;

			width: 100%;

			content: "";
			cursor: default;

			border-bottom: 1px solid $g-border-color;
		}

		&:hover {
			.submenu__name {
				transform: translateX(0.5rem);

				opacity: 0.45;
			}
		}
	}

	&__item:last-child {
		&::after {
			border-bottom: none;
		}
	}

	&__arrow {
		min-width: 1rem;

		transform: rotate(-90deg);
		text-align: end;
	}
}
